.user-details {
  display: flex;
  flex-direction: row; /* Align children horizontally */
  align-items: flex-start; /* Align children to the top */
}

.user-image {
  border-radius: 20%; /* Circular image */
  width: 150px; /* Set width */
  height: 150px; /* Set height */
  margin-right: 20px; /* Add space between image and the content to its right */
}

.user-info, .user-posts {
  flex-grow: 1; /* Allow these elements to fill the remaining space */
}

.user-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Align text and buttons to the start */
  margin-left: 20px; /* Add some margin if needed */
}

.user-posts {
  /* If you want the posts section to not stretch too wide, you can limit its width */
  max-width: 1200px; /* Adjust as necessary */
}

/* Add some padding to the body to ensure content isn't flush against the viewport edges */
body {
  padding: 20px;
}
ul {
  padding: 0;
  list-style: none;
}

li {
  margin: 10px 0; /* Space between list items */
}

.button {
  text-decoration: none;
  color: white;
  background-color: blue; /* Adjust color as necessary */
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.back-link {
  display: block;
  margin-top: 20px; /* Space above the back link */
  text-align: left;
}
